<ul id="gallery" class="small-block-grid-{{page.gallery-columns | default: 3}}" >
    {% for gallery_hash in site.data.galleries %}
    {% assign gallery = gallery_hash[1] %}
        {% if gallery.id == page.gallery-id %}
            {% for image in gallery.images %}
                <li>
                   <a href="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ image.filename | uri_escape }}&container=focus&resize_h=480">
                        <img src="{{site.urlimg}}bg.png" data-src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ image.filename | uri_escape }}&container=focus&resize_w={% if page.gallery-columns==2 %}250{% else %}200{% endif %}" title="{{ image.alttext }}">
                    </a> 
                </li>
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>