<div class="slick-slider">
    {% for gallery_hash in site.data.galleries %}
    {% assign gallery = gallery_hash[1] %}
        {% if gallery.id == page.gallery-id %}
            {% for image in gallery.images %}
                <div style="margin: 5px;">
                        <img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ image.filename | uri_escape }}&container=focus&resize_h=250" title="{{ image.alttext }}">
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>